@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared-style */
.display-flex{
    display: flex;
}

main > section{
    margin-top: 130px;
}
.bg-color-light{
    background-color: rgba(255, 144, 14, 0.1);

}
.btn-primary{
    background-color:#FF900E ;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 21px 25px;
    margin-top: 32px;
}

/* dark gray 02 */
.dark-gray{
    color: #424242;

}
/* dark gray 03 */
.light-dark-gray{
    color: #727272;
}
/* black */
.black{
    color: #131313;
}
/* orange */
.orange{
    color: #FF900E;
}

.p-text{
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}


/* Header style */

/* navbar style */
.navbar{
    justify-content: space-around;
    align-items: center;

}
.brand{
     color: #131313;
     font-size: 2.8rem;
     font-weight: 700;
}
.nav-items{
    list-style-type: none;
    margin-right:30px ;
    font-weight: 500;
    font-size: 18px;
}
.nav-menu a{
    text-decoration: none;
    /* color: #424242; */

}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner content style */
.banner-content{
    max-width: 462px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}


.banner-img{
    width: 100%;
}
/* main */

main{
    max-width: 1440px;
    margin: 0 auto;
}

/* team feature styles */
.team-features{
    align-items: center;
}

.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.feature-content{
    margin-left: 73px;
    max-width: 530px;
}
#Quick-list{
    font-weight: 500px;
    font-size: 2.8rem;
}
#of-Our{
   font-weight: 700px;
    font-size: 2.8rem;
}
#Features{
    font-weight: 700px;
    font-size: 2.8rem;
}
/* fact related style */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    height: 240px;
    width: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-number{
    font-size: 2.9rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px ;

}
.fact-description{
    max-width: 540px;
    color: #727272;
}










/* media query */
@media screen and (max-width:576px) {
    .navbar, .nav-menu{
        flex-direction: column;
    }
    .team-features{
        flex-direction: column;
    }
    .team-img , .fact-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-content{
        margin-left:20px ;
    }
    
}
@media screen and (min-width:576px) and (max-width:992px) {
    .team-features{
        flex-direction: column;
    }
    .feature-content{
        margin:20px auto ;
    }

    
}

    

